
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color1);
    color: var(--color2);
}

a {
    color: var(--color3);
}