.messagesList {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 5px;
  flex-basis: 80%;
}

.message {
  width: fit-content;
  max-width: 80%;
  padding: 5px;
  word-break: break-all;
  border: 1px solid var(--color1);
  
  &.welcome {
    align-self: center;
  }
  &.outcoming {
    align-self: flex-end;
  }
  &.incoming {
    align-self: flex-start;
  }
  & > span {
    padding : 5px;
  }
  & .to {
    background-color: var(--color4);
  }
  & .from {
    color: var(--color1);
    background-color: var(--color3);
  }
}
