@import "../../commonStyles.scss";

.startPageWrapper {
  position: relative;
  height: 100vh;
  margin: auto;
  --formsSideMargins: 25%;
  --transitionOptions: opacity 250ms linear, filter 250ms linear,
    transform 250ms linear;

  & > div {
    position: absolute;
    top: 50%;
    left: var(--formsSideMargins);
    right: var(--formsSideMargins);
    padding: 10px;
    border: 1px solid var(--color2);
    z-index: 1;
  }

  input {
    width: 100%;
  }
}

.startButtonsWrapper {
  display: flex;
  justify-content: space-around;
  transform: scale(1) translateY(-50%);
  filter: blur(0);
  transition: var(--transitionOptions);

  &.hidden {
    opacity: 0.6;
  }

  @media (max-width: 425px) {
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
  }
}

.createChatRoomForm,
.joinChatRoomForm {
  transform: scale(1) translateY(-50%);
  opacity: 1;
  filter: blur(0);
  transition: var(--transitionOptions);

  & > :not(:last-child) {
    margin-bottom: 10px;
  }
}

.buttonsWrapper {
  display: flex;
  justify-content: space-around;
  background-color: transparent;
}

.hidden {
  opacity: 0;
  filter: blur(4px);
  transform: scale(1.2) translateY(-50%);
  pointer-events: none;
  z-index: 0;
}
